.select {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid blueviolet;
  border-radius: 5px 5px 0 0;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  width: 16rem;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgb(216, 214, 214);
  }
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  max-height: 12rem;
  background-color: rgb(216, 214, 214, 0.4);
  font-size: 1.5rem;
  position: absolute;
  transition: all 0.3s;
  overflow-y: auto;
}

.item {
  cursor: pointer;
  width: 8rem;
  text-align: center;
  transition: all 0.5s;
  text-align: center;
  &:hover {
    background-color: rgb(216, 214, 214);
    border-radius: 3px;
  }
}
